#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#name
{
   text-align: center; 
}
h4
{
 color:red;
}
#pics
{
    width: 500px;
    border-radius: 20%;
    box-shadow: 0 6px 8px 0 greenyellow;
}
#pics:hover
{
 border-radius: 140px;
 box-shadow: 0 6px 8px 0 red;
}
